@font-face{
    font-family: 'JetBrains Mono Light';
    src: url('../font/JetBrainsMono-Light.woff2');   
}

@font-face{
    font-family: 'Source Han Sans';
    src: url('../font/SourceHanSansSC-VF.woff2');   
}
